<div class="container">
    <div class="btn">
        <button routerLink="/catagory">Category</button>
        <button routerLink="/vehicle">vehicle list</button>
    </div>
    <div class="main">
        <div class="box"><span>Name : </span>{{vehicleList.list[index].name}}</div>
        <div class="box"><span>Category : </span>{{vehicleList.list[index].category}}</div>
        <div class="box"><span>Color : </span>{{vehicleList.list[index].color}}</div>
        <div class="box"><span>Model : </span>{{vehicleList.list[index].model}}</div>
        <div class="description"><span>Description : </span>{{vehicleList.list[index].description}}</div>
    </div>
</div>