.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 600px;
    height: 350px;
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    gap: 15px;
    justify-content: space-between;
    padding: 15px;
}
.main div{
    height: 30%;
    border: 1px solid black;
   
}
.box{
    width: 48%;
    display: flex;
    align-items: center;
    padding-left: 20px;

}
.description{
    width: 100% ;
    display: block;
    padding: 10px 0px 0px 20px;
}
span{
    margin-right: 5px;
    font-weight: 600;

}
.btn{
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    gap: 20px;
}
button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: navy;
    color: white;
}
button:hover{
    background-color: rgb(80, 80, 173);
}